{{!-- View  --}}
    <div class="card">
        <div class="card-body">
            {{!-- text title --}}
                <p class="fw-bold text-center fs-1">{{postagem.titulo}}</p>

            {{!-- text description --}}
                <p class="text-muted text-center">{{postagem.descricao}}</p>
            <br>
            <br>
            {{!-- text-area --}}
                <p class="fw-normal">{{postagem.conteudo}}</p>
        </div>
    </div>
<style>
  .card-body{
      padding: 50px;
    }  
</style>



